.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sliders {
  position: fixed;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  font-size: large;
}

.edges {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 270px;
}
